<!-- <div class="form-group"> -->


<div class="main-form">
  <div class="text-center">
    <h3>Tell Us About Your Listing</h3>
  </div>
  <br>
  <div class="form-row">
    <div class="form-group col-md-6 offset-md-3 text-center">
      <%= form.label :name, "What is the name of your listing?" %>
      <%= form.text_field :name, type: 'text', class: "form-control", placeholder: "Name your listing..." %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :description, "How would you describe your listing?" %>
      <%= form.text_area :description, type: 'text', class: "form-control", placeholder: "The description of your listing" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :photos, "What does your listing look like?" %>
      <%= form.file_field :photos, multiple: true, class: "form-control" %>
    </div>
  </div>
</div>

<div class="main-form">
  <div class="text-center">
    <h3>Where is your listing located?</h3>
  </div>
  <br>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :street %>
      <%= form.text_field :street, type: 'text', class: "form-control", placeholder: "Street" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :city %>
      <%= form.text_field :city, type: 'text', class: "form-control", placeholder: "City" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :state %>
      <%= form.text_field :state, type: 'text', class: "form-control", placeholder: "State" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :country %>
      <%= form.text_field :country, type: 'text', class: "form-control", placeholder: "Country" %>
    </div>
  </div>
</div>
<!-- </div> -->


<div class="main-form">
  <div class="text-center">
    <h3>Additional info about your listing</h3>
  </div>
  <br>
  <div class="form-row">
    <div class="form-group col-md-3 text-center">
      <%= form.label :number_of_beds, "No. of Beds"%>
      <%= form.select :number_of_beds, [1,2,3,4,5] , {} ,{class: "form-control"} %>
    </div>
    <div class="form-group col-md-3 text-center">
      <%= form.label :number_of_guests, "No. of Guests" %>
      <%= form.select :number_of_guests, [1,2,3,4,5] , {} ,{class: "form-control"}%>
    </div>
    <div class="form-group col-md-3 text-center">
      <%= form.label :number_of_bedrooms, "No. of Bedrooms" %>
      <%= form.select :number_of_bedrooms, [1,2,3,4,5] , {} ,{class: "form-control"} %>
    </div>
    <div class="form-group col-md-3 text-center">
      <%= form.label :number_of_bathrooms, "No. of Bathrooms" %>
      <%= form.select :number_of_bathrooms, [1,2,3,4,5] , {} ,{class: "form-control"} %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :house_rules, "What are the house rules?" %>
      <%= form.text_area :house_rules, type: 'text', class: "form-control" %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :price, "How much are you charging per night?" %>
      <%= form.text_field :price, type: 'number', class: "form-control" %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :category_list %>
      <%= form.text_field :category_list, value: form.object.category_list.to_s, type: 'text', class: "form-control" %>
    </div>
  </div>
</div>

<div class="main-form">
  <div class="text-center">
    <h3>When is your listing available?</h3>
  </div>
  <br>
  <div class="form-row d-flex justify-content-around">

    <div class="form-group text-center">
      <%= form.label :date_start, "Start date" %>
      <%= form.text_field :date_start, type: 'date' , class: "form-control"%>
    </div>

    <div class="form-group text-center">
      <%= form.label :date_end, "End date" %>
      <%= form.text_field :date_end, type: 'date', class: "form-control" %>
    </div>
  </div>
</div>






