
<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-4">
		<h1>Where to? <small> Start your next<br> adventure on Airbnb.</small></h1>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		<%= form_tag(listings_path, :method => "get", id: "listing-form", class: "navbar-form") do %>
	    <div class="form-group">
	      <%= text_field_tag :location, params[:location], placeholder: "Destination, city, address", class: "form-control" %>
				<%= date_field_tag :check_in, params[:check_in], placeholder: "Check In", class: "form-control" %>
				<%= date_field_tag :check_out, params[:check_out], placeholder: "Check Out", class: "form-control" %>
				<%= number_field_tag :guests_no, params[:guests_no], placeholder: "Guests", class: "form-control" %>
	    </div>
      <%= submit_tag "Search", :name => "listing-form", class: "btn btn-default" %>
	  <% end %>
	 </div>
</div>
