<!DOCTYPE html>
<html>
<head>

  <script src="https://use.fontawesome.com/7cb98041d7.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  
  <!-- Load the Client component. -->
  <script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>

  <!-- Load the Hosted Fields component. -->
  <script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>
  
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="main_wallpaper">
    <nav class="main_navbar">
      <div class="dropdownBackground">
        <span class="arrow"></span>
      </div>
      <div class="brand">
        <%= link_to ("Airbnb"), root_path, class: "navbar-brand" %>
      </div>
      <% if signed_in? -%>
        <div class="search_bar">
          <%= form_tag(listings_path, :method => "get" ,id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search for a place" %>
            <%#= submit_tag "Search", :name => nil %>
          <% end %>
        </div>
        <ul class="menu_bar">
          <li>
            <i class="fa fa-bars fa-2x" aria-hidden="true" id="menu_icon">
            </i>
            <ul class="dropdown">
              <li>
                <%= link_to ("My Profile"), user_path(current_user)%>
              </li>
              <li>
                <%= link_to ("Listings"), listings_path%>
              </li>
              <li>
                <%= link_to ("Create Listing"), new_listing_path%> 
              </li>
              <li>
                <%= link_to ("Edit Profile"), edit_user_path(current_user.id) %> 
              </li>
              <li>
                <%= link_to ("Sign Out"), sign_out_path, method: :delete%>
              </li>
            </ul>
          </li>
        </ul>

            <%#= image_tag(current_user.avatar.thumb.url)%>
      <% else %>
        <div class="non-user-signup-nav d-flex justify-content-end">
          <%= link_to t(".sign_in"), sign_in_path, class: "mr-3" %>
          <%= link_to t(".sign_up"), sign_up_path, class: "" %>
        </div>
      <% end %>
    </nav>

    <div class="container-fluid">
      <div id="flash">
        <% flash.each do |key, value| -%>
          <div id="flash_<%= key %>" class="<%= flash_class(key)%>"><%=h value %></div>
        <% end %>
      </div>

    <%= yield %>
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</html>
